
  <section class="footer">
    <footer class="bg-dark ">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <div>
            <p class="text-white footer-hosted mt-5">Hosted with <img src="../image/tada.png" alt="" class="footer-love-image ml-2 mr-2"> by Rad5 Academy Graduates</p>
            </div>
            <div class="footer-link  mb-3">
              <a href="#!" class="mr-2">Code of Conduct</a>
              <a href="#!" class="mr-2">Event Terms</a>
              <a href="#!">Support</a>
             
            </div>

          </div>
        </div>
      </div>
    </footer>
  </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  </body>
</html>
