<%- include('partials/header.ejs') -%>


<main>
  <section class="graduation-banner">
    <img src="../image/graduation-banner.png" alt="" class="width-fit">
  </section>
  <div class="banner-text mt-5 ">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-8 mx-auto text-center">
          <h1 class="mb-5">$ git remote &lt;graduation&gt;</h1>
          <p class="mt-2 banner-paragraph-text mb-4 ">
            An online graduation ceremony to celebrate graduates of
            the class of 2020. Join us in walking the stage with your global community. We'll be  hearing from special guests, giving out exclusive swag, and highlighting student stories and projects from around the world.
          </p>

          <a href="" class="btn btn-full mb-5">Join the class of 2020</a>
        </div>

      </div>
    </div>
  </div>

  <section class="grad-date">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="tadda-image">
            <img src="../image/tada.png" alt="">
          </div>
          <div class="grad-date-text">
            <h3 class="text-white mb-3">Monday, June 15th 2020</h3>
            <a href="#" >GitHub Education Twitch Channel</a>
            <p class="mt-2">&#35octograd2020</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="collaboration">
    <div class="container ">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h6>In Collaboration with</h6>
          <div>
            <img src="../image/dev.png" alt="">
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <p>
                “We are so excited to help celebrate the achievements of graduating students all across the world. Now, more than ever, we need to come together as a community to support new graduates as they transition away from school and into the early years of their career. Congratulations, Class of 2020!”
              </p>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="speaker">
    <div class="container ">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p class="speaker-header">Commencement Speaker</p>
          <div>
            <img src="../image/mozzadrella-director.jpg" alt="">
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <h2 class="mt-3">Vanessa Gennarelli</h2>
              <h5>Director, GitHub Education</h5>
              <p class="">
                Vanessa Gennarelli (@mozzadrella) is the Director of GitHub Education, helping the next generation of developers do their best work. GitHub Education has helped 2 million developers learn to code, and supports more than 19,000 schools worldwide. Vanessa holds a Master’s in Technology, Innovation, and Education from Harvard University and is a former Research Intern at the MIT Media Lab. Currently enrolled in the Executive Education program at Stanford University.
              </p>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="graduation-repository">
    <div class="banner-text mt-5 ">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-8 mx-auto text-center">
            <div>
              <img src="../image/mortar_board.png" alt="">
            </div>
            <h2 class="mb-3">Are you graduating this year?</h2>
            <p class="mt-2 banner-paragraph-text mb-4 ">
              Join the celebration! Add yourself to the Yearbook by visiting the
              <a href="#">graduation repository</a> on GitHub. Follow the instructions in the <span class="read-me">README.md</span> file to submit a valid pull request. After your request is approved, you will be added to the Yearbook, get highlighted on the stream, and get some exclusive swag — all from the comfort of your home.
            </p>
  
            <a href="" class="btn btn-full mb-5">Join the class of 2020</a>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  <hr>

  <section class="join-social-media">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <h2 class="mt-5">Follow us on Twitch</h2>
              <p class="mt-4">
                Don't forget to follow the <a href="#">GitHub Education Twitch Channel</a>
                to get when the stream goes live!
              </p>
              <img src="../image/twitch.png" alt="" class="mt-3">
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<%- include('partials/footer.ejs') -%>