<%- include('partials/header.ejs') -%>


<main>
  <section class="graduation-banner container">
    <img src="../image/grad-banner.png" alt="" class="img-fluid">
  </section>
  <div class="banner-text mt-5 ">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-8 mx-auto text-center">
          <h1 class="mb-5">$ git commit -m graduation</h1>
          <p class="mt-2 banner-paragraph-text mb-4 ">
            An in-house graduation ceremony to celebrate graduates of
            the class of 2020. Join us in walking the stage with your global community. We'll be  hearing from special guests, 
            giving out exclusive swag, and highlighting student stories and projects.
          </p>

          <a href="https://github.com/rad5academy/graduation-api" target="_blank" class="btn btn-full mb-5">Join the class of 2020</a>
        </div>

      </div>
    </div>
  </div>

  <section class="grad-date">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="tadda-image">
            <img src="../image/tada.png" alt="">
          </div>
          <div class="grad-date-text">
            <h3 class="text-white mb-3">Wednesday, June 24th 2020</h3>
            <a href="https://g.page/rad5-academy?share" target="_blank">3rd floor, 7 Factory Rd, Aba</a>
            <p class="mt-2">&#35rad5grad2020</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="collaboration">
    <div class="container ">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h6>In Collaboration with</h6>
          <div>
            <img src="../image/rad5hub.png" alt="">
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <p>
                “We are so excited to help celebrate the achievements of graduating students all across the world. Now, more than ever, we need to come together as a community to support new graduates as they transition away from school and into the early years of their career. Congratulations, Class of 2020!”
              </p>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="speaker">
    <div class="container ">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p class="speaker-header">Commencement Speaker</p>
          <div>
            <img src="../image/igwe.jpg" alt="Managing director's profile" class="img-thumbnail">
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <h2 class="mt-3">Mr Igwe Uguru</h2>
              <h5>Co-founder Rad5 Tech Hub, CEO Chooya Group</h5>
              
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="manager">
    <div class="container ">
      <div class="row">
        <div class="col-sm-12 text-center">
          
          <div>
            <img src="../image/trust_director.jpg" alt="Managing director's profile" class="img-thumbnail">
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <h2 class="mt-3">Trust Onyekwere</h2>
              <h5>Director, Rad5 Academy</h5>
              <p class="">
                Trust Onyekwere is the managing director at RAD5 Academy, helping the next generation of developers do their best work. 
                RAD5 Academy is a School of Technology Entrepreneurship. Our core objective is to be the leading result-driven, 
                business-focused, and practical tech school in Africa that is designed to help students learn how to combine technology and entrepreneurship..
              </p>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="graduation-repository">
    <div class="banner-text mt-5 ">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-8 mx-auto text-center">
            <div>
              <img src="../image/mortar_board.png" alt="">
            </div>
            <h2 class="mb-3">Are you graduating this year?</h2>
            <p class="mt-2 banner-paragraph-text mb-4 ">
              Join the celebration! Add yourself to the Graduates Page by visiting the
              <a href="https://github.com/rad5academy/graduation-api" target="_blank">graduation repository</a> on GitHub. 
              Follow the instructions in the <span class="read-me">README.md</span> file to submit a valid pull request. 
              After your request is approved, you will be added to the Graduates Page, get highlighted on the event day, 
              and get some exclusive swag — if you attended the event.
            </p>
  
            <a href="https://github.com/rad5academy/graduation-api" class="btn btn-full mb-5" target="_blank">Join the class of 2020</a>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  <hr>

  <section class="join-social-media">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <h2 class="mt-5">Follow us on Twitter</h2>
              <p class="mt-4">
                Don't forget to follow the <a href="https://twitter.com/rad5academy?lang=en" target="_blank">Rad5 Academy Twitter handle</a>
                to get updates of our activities!
              </p>
              <img src="../image/rad5hub.png" alt="" class="mt-3">
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<%- include('partials/footer.ejs') -%>